.ifield {
    display: flex;
    width: 100%;
}

.ifield-left, .ifield-right {
    flex: 0 1 auto;
    display: flex;
    margin: auto;
}

.ifield-center {
    flex: 1 1 auto;
    display: flex;
}

.ifield-center {
    padding: 0 1em;
}

.ifield-center input {
    width: 100%;
}

.ifield svg {
    transition: all 0.2s;
}

.ifield-bad svg {
    color: var(--bad-emphasized-item);
}

.ifield-good svg {
    color: var(--good-emphasized-item);
}