/* html {
    height: 100%;
}

body {
    background-color: #1a1a1F;
    height: 100%;
    padding-top: 0;
    overflow: hidden;
} */

:root {
    --ses-bg: #1a1a1f;
    --ses-fg: #fff;

    --ses-red: #ff4444;
    --ses-grn: #55dd55;
    --ses-blu: #4444ff;
}

.approot-session {
    background-color: var(--ses-bg);
    color: var(--ses-fg);
    height: 100%;
    padding-top: 0;
}

.approot-session > .approot-body {
    height: 100%;
}

.sess-view {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 50% auto;
    grid-template-rows: auto 50% auto;
}

.sess-view-main {
    grid-row: 2;
    grid-column: 2;
    border: 1px solid var(--ses-fg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sess-view-panel {
    border: 1px solid var(--ses-fg);
}

.sess-view-lefpanel {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.sess-view-botpanel {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.sess-view-bfield {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.sess-view-chatbox {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.sess-view-battlegrid {
    display: grid;
    padding: 1em;
    transition: transform 0.5s;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.sess-view-battlegrid-3d {
    transform: perspective(50em) rotate3d(1, 0, 0, 45deg) scale(0.75);
}

.sess-view-battlegrid-3d:hover {
    transform: none;
}

.SVBGSquare::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }

.SVBGSquare {
    position: relative;
    margin: 0.5em;
    border: 2px solid var(--ses-fg);
    width: 100%;
}

.SVBGSquare-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.SVBGS-red {
    border-color: var(--ses-red);
}

.SVBGS-green {
    border-color: var(--ses-grn);
}

.SVBGS-blue {
    border-color: var(--ses-blu);
}

.sess-chatbox-msg-history {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sess-chatbox-msg-line {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100%;
}

.sess-chatbox-chat-symbol {
    flex: 0 0 auto;
}

.sess-chatbox-input {
    flex: 1 1 auto;
    width: 100%;
    background-color: var(--ses-bg);
    color: var(--ses-fg);
}

.sess-view-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1.sess-view-item {
    margin: auto;
    padding: 0;
    font-variant: small-caps;
    text-align: center;
}


@keyframes connecting {
    0%   {color:var(--ses-bg);}
    50%  {color:var(--ses-blu);}
    100% {color:var(--ses-bg);}
}

@keyframes genning {
    0%   {color:var(--ses-bg); transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {color:var(--ses-grn); transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {color:var(--ses-bg); transform: rotate(360deg);}
}

@keyframes loading {
    0%   {color:var(--ses-blu); transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    27%  {color: var(--ses-blu);}
    33%  {color:var(--ses-red);}
    50%  {transform: rotate(180deg);}
    60%  {color: var(--ses-red);}
    66%  {color: var(--ses-grn);}
    75%  {transform: rotate(270deg);}
    94%  {color: var(--ses-grn);}
    100% {color:var(--ses-blu); transform: rotate(360deg);}
}

@keyframes failed {
    0%   {color:var(--ses-bg);}
    50%  {color:var(--ses-red);}
    100% {color:var(--ses-bg);}
}

.sess-view-loader{
    margin: auto;
    flex: 1 1 auto;
}

.sess-view-loader svg {
    animation: failed 1.5s linear 0s infinite;
    width: 5em;
    height: 5em;
    margin: auto;
    transition: all 0.2s;
}

.sess-view-loader.sv-connecting svg {
    animation-name: connecting;
}

.sess-view-loader.sv-genning svg {
    animation-name: genning;
}

.sess-view-loader.sv-loading svg {
    animation-name: loading;
}

.sess-view-loader.sv-failed svg {
    animation-name: connecting;
}